<!DOCTYPE html>
<html>
<head>
    {% load static %} <!-- Carrega a tag 'static' (pasta) -->
    <title>{% block title %}Generic App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="h-container">
            <h1>Generic App</h1>
            </div>
            <!-- Referencias de navegação para as paginas que podem ser obtidas com requisiçoes tipo get -->
            <a href="{% url 'file_list' %}">Home</a>
            <a href="{% url 'file_upload' %}">Upload</a>
            <a href="{% url 'related_films'%}">Movie Recomendations</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
