{% extends "base.html" %}

{% block title %}Update File{% endblock %}

{% block content %}
    <div class="h-container">
        <h2>Update File</h2>
    </div>
    <br>
    <!-- enctype deve ser informado para permitir o envio de arquivos pela requisiçao post -->
    <form method="post" enctype="multipart/form-data">
        <!-- Qualquer post no Django deve ter esse token para autenticar a requisiçao -->
        {% csrf_token %}
        <div class="labels-container">
            <!-- Campo de Nome -->
            <label for="name" class="label-line">Nome:
            <input type="text" id="name" name="name" placeholder="{{file.name}}" required>
            </label>
            <br>
            <!-- Campo de Arquivo -->
            <label for="file" class="label-line">Arquivo:
            <input type="file" id="file" name="file" required>
            </label>
            <br>
            <!-- Botão de Submissão para Atualizar -->
            <button type="submit" class="button1" name="acao" value="update">Update</button>
            <button type="submit" class="button2" name="acao" value="delete">Delete</button>
            <br>
        </div>
    </form>
{% endblock %}