{% extends 'base.html' %}

{% block title %}Upload File{% endblock %}

{% block content %}
<div class="h-container">
<h2>Upload a File</h2>
</div>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="file_name">Nome:</label>
    <input type="text" id="file_name" name="name" placeholder="Por padrão o nome original será usado">
    <label for="file">Arquivo:
    </label>
    <input type="file" id="file" name="file" required>

    <button type="submit" class="button1">Upload</button>
</form>
{% endblock %}
