{% extends 'base.html' %}

{% block title %}Films{% endblock %}

{% block content %}
<h2>Related films</h2>
<form method="post">
    {% csrf_token %}
    <label for="film_name"></label>
    <input id="film_name" name="film" type="text">
    <button type="submit"> search </button>
</form>
<ul>
    {% for film in films %}
        <li>
            <article>
                <a class="film_card" href="{% url 'film_details' film.pk %}">
                    {{film.name}}
                </a>
            </article>
        </li>
    {% empty %}
        <li>No files uploaded yet.</li>
    {% endfor %}
</ul>
{% endblock %}
