/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
    font-weight: bold;
}

/* Conteúdo principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    main {
        padding: 15px;
        width: 90%;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Botões */
button {
    padding: 10px 20px;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botão de atualização */
.button1 {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.button1:hover {
    background-color: #45a049; /* Verde mais escuro */
}

/* Botão de exclusão */
.button2 {
    background-color: #f44336; /* Vermelho */
    color: white;
}

.button2:hover {
    background-color: #d32f2f; /* Vermelho mais escuro */
}

/* Inputs de arquivo */
input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
}

input[type="file"]:hover {
    background-color: #e6e6e6;
}
